.button {
  font: inherit;
  padding: 0.5rem 1.5rem;
  border: 1px solid #2835a8;
  color: #2835a8;
  background: #ae83ff7a;
  box-shadow: 0 0 4px #2835a8;
  cursor: pointer;
}

.button:focus {
  outline: none;
}

.button:hover,
.button:active {
  background: #2835a8;
  color: #ae83ff7a;
  border-color: #ae83ff7a;
  box-shadow: 0 0 8px #ae83ff7a;
}
